body{
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3uL6pYcKwGamU_m75rZW-DYe0eYX7hkiQIuxrFFGFEWbSg04&s);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}

h1{
	color: black;
	font-size: 350%;
	font-family: 'Alfa Slab One', cursive;
}

h3{
	font-size: 175%;
	color: red;
	font-family: 'Didact Gothic', sans-serif;
}